* {
    background-color: #1f2937; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* body */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin-left: auto; 
    margin-right: auto;
}

/* header */
.header-container {
    background-color: #1f2937;
    margin-bottom: 20px;
    width: 1055px;
    display: flex;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: #1f2937;
}

.header,
.footer {
    display: flex;
    justify-content: space-between;
}

#right-links {
    display: flex;
    margin-left: auto;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
}


a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7e8;

}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}


/* main section */
.intro-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  gap: 100px;
  width: 1055px;
  flex: 1;
}

.main {
    display: flex;
    
    flex: 1;
    font-size: 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: #f9faf8;
}

.info-signup {
  display: flex;
  flex-wrap: wrap;
  max-width: 12cm;
}

.image {
    display: flex;
    height: 275px;
    font-size: 18px;
    color: #e5e7e8;
    background-color: rgb(116, 118, 123);
    justify-content: center;
    align-items: center;
    width: 35vw;
}

.placeholder {
    background-color: inherit;
}

.main,
.secondary, 
.button {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.secondary {
    font-size: 18px;
    color: #e5e7e8;
}

.button {
    padding: 18px;
    width: 115px;
    height: 15px;
    border-radius: 12px;
    background-color: #3882f6;
    align-items: center;
    justify-content: center;
    color: #e5e7e8;
}

/* info section */

.info-container {
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    flex: 0;
    min-width: 100vmax;
  }

  
 .random-heading {
    background-color: inherit;
    display: flex;
    height: 115px;
    flex-direction: column;
    justify-content: center;
 } 

 .read {
    justify-self: center;
    align-self: center;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    background-color: inherit;
    margin-bottom: 50px;
 }



.subtext-container {
    display: flex;
    gap: 35px;
    background-color: white;
    margin-top: 25px;
 } 

.subtext-one,
.subtext-two,
.subtext-three,
.subtext-four {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
}

.sub-pic-one,
.sub-pic-two,
.sub-pic-three,
.sub-pic-four {
    background-color: white;
    display: flex;
    height: 150px;
    width: 150px;
    border: solid 4px #3882f6;
    align-self: center;
    margin-bottom: 18px;
    border-radius: 14px;
}

.sub-info {
    background-color: white;
    color: #3c4a5e;
    display: flex;
    width: 200px;
    text-align: center;
}


/* quotes section */

.quote-container {
    display: flex;
    height: 500px;
    background-color: #e5e7eb;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 275px;
    margin-right: 275px;
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    color: #1f2937;
}
p {
    font-size: 36px;
    font-style: italic;
    background-color: #e5e7eb;
}

.quote-from {
    display: flex;
    align-self: flex-end;
    background-color: #e5e7eb;
    color: #1f2937;
    font-weight: bold;
    font-size: 24px;
}


/* call to action section */

.call-to-action-container {
    display: flex;
    height: 500px;
    background-color: white;
}

.cta-container {
    display: flex;
    background-color: #3882f6;
    width: 1000px;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    height: 250px;
}

.cta-section {
    display: flex;
    flex-direction: column;
    background-color: #3882f6;
    gap: 2px;
}

.cta-heading {
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.cta-text {
    background-color: #3882f6;
    color: white;
    font-size: 16px;
}

.cta-button {
    background-color: #3882f6;
    color: white; 
    border: 2px solid white;
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}


